---
// src/components/MobileMenuButton.astro
/// <reference types="astro/client" />
import { Image } from 'astro:assets';

interface Props {
    id: string;
    class?: string;
}

const { id, class: className } = Astro.props;

import customMenuIcon from '../assets/menu-icon.svg';
// ---------------------------------------------

---

<button id={id} class:list={[className]}>
    <Image src={customMenuIcon} alt="Menu Icon" width="32" height="40" class="w-8 h-8" />
</button>

<script>
  import { initializeMobileMenu } from '../scripts/mobileMenu.js';

    document.addEventListener('DOMContentLoaded', () => {
        const mobileMenuButton = document.getElementById('mobile-menu-button');
        const mobileMenuOverlay = document.getElementById('mobile-menu-overlay');

    if (mobileMenuButton && mobileMenuOverlay) {
        mobileMenuButton.addEventListener('click', () => {
            mobileMenuOverlay.classList.remove('translate-x-full');
            document.body.style.overflow = 'hidden';
        });
    }

    initializeMobileMenu();
});
</script>